/*
 * @Author: jecyu 
 * @Date: 2017-12-23 23:33:20 
 * @Last Modified by: jecyu
 * @Last Modified time: 2018-01-06 22:37:21
 */

$basecolor: #172a88;
$item1: #8fc320;
$item2: #20c544;
$item3: #203ec5;
$item4: #20c5a7;
$item5: #2091c5;
$item6: #3ec520;

$fontColor: #4f9c9c;
$hover: #20c5a7;
$active: #20c5a7;
@mixin setColorAndHover($baseColor) {
  color: $baseColor;
  &:hover {
    background: lighten($baseColor, 40%);
  }
}

@mixin setShadow() {
  box-shadow: 0 0 1.5rem rgba(26, 52, 45, 0.1);
}

/* nav */
.nav-wrap {
  // position: fixed;
  position: relative;
  left: 0;
  top: 0;
  z-index: 99999;

  height: 7rem;
  width: 100%;
  // background: lighten($basecolor, 0);
  // border-bottom: 0.1rem solid gray;
  background: #fff;
  @include setShadow();
}

.nav {
  position: relative;
  height: inherit;

  font-size: 1.6rem;
  color: dark($fontColor, 30%);

  .link {
    color: darken($fontColor, 30%);

    &:hover {
      color: $active;
    }
  }

  .nav-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-menu-list {
    position: absolute;
    top: 50%;
    left: 20rem;
    transform: translateY(-50%);

    height: 7rem;
    line-height: 7rem;

    .menu-item {
      position: relative;
      float: left;
      margin-right: 5rem;
      transition: all 0.5s ease;

      .fa {
        transition: all .3s;
      }
      &.active {
        a {
          color: $active;
        }
        border-bottom: 0.2rem solid $active;
      }

      &:hover {
        .fa {
          transform: rotateZ(180deg);
        }
        .sub-nav-list {
          display: block;
        }

        .i {
          transform: rotateY(180deg);
        }
      }
    }
  }
  .nav-opera {
    float: right;
    height: inherit;
    line-height: 7rem;

    .nav-opera-item {
      display: inline-block;
      margin-left: 2rem;
      cursor: pointer;
      .fa {
       transition: all .3s;
      }
      &:hover {
        .fa {
          transform: rotateZ(180deg);
        }
      }
    }
  }
    // sub-nav-list
  .sub-nav-list {
    display: none;

    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    min-width: 15rem;
    border-radius: 0.1rem;
    @include setShadow();
    line-height: 1.5;
    text-align: center;
    background: #fff;

    /* triangle */
    &::before {
      position: absolute;
    }

    .sub-nav-item {
      min-height: 3rem;
      min-width: 100%;
      padding: 1rem;

      line-height: 3rem;
      transition: all 0.5s ease;

      &:hover {
        background: rgba($color: #ccc, $alpha: 0.3);
        a {
          color: $hover;
        }
      }
    }
  }
}

/* =========== user-info ============= */
.user {
  position: relative;
  &.login {
    display: none;
  }
  &-menu {
    display: none;
    position: absolute;
    top: 7rem;
    right: 0rem;

    border-radius: 0.1rem;    
    background-color: hsl(0, 0%, 100%);
    &__item {
      padding: 1rem;
      text-align: center;
      line-height: 2;
      transition: all 0.5s ease;

      &:hover {
        background: rgba($color: #ccc, $alpha: 0.3);
      }
    }
  }
}