<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./layout/head-common.html')  %>
        <title>公司介绍</title>
</head>

<body>
    <%= require('html-loader!./layout/nav.html')  %>
        <main>
            <section class="section-introduce">
                <div class="banner-wrap serive">
                    <h1 class="banner-title">以太生物：给客户带来价值
                    </h1>

                    <p class="banne-desc">为生命科学研究打造最好的数据挖掘基础设施，让研究工作变得更高效，更智能。
                    </p>
                </div>
            </section>
            <section class="tabbar">
                <article>
                    <ul class="tabs">
                        <li class="tab-page active">
                            <a class="area-tabbar" href="aboutus.html">公司介绍</a>
                        </li>
                        <li>
                            <a class="area-tabbar" href="joinus.html">加入我们</a>
                        </li>
                        <li>
                            <a class="area-tabbar" href="blog/tag/news/">公司动态</a>
                        </li>
                    </ul>
                </article>
            </section>

            <!-- 公司介绍 -->
            <div class="zui-section inner-center section-company">
                <div class="group inner-center">
                    <h2 class="title">以太生物
                        <em>|</em> eBio</h2>
                    <div class="content">
                        <p class="detail" ui-type="text">
                            广州以太生物科技有限公司，为生命科学研究打造最好的数据挖掘基础为生命科学领域的基础及应用研究提供文献及生物信息技术服务， 包括实验数据处理及分析、文献梳理与管理、论文及标书写作有关 的顾问服务等。根据公司每一阶段的发展战略，积极引进/储备/培训各部门相关员工，特别是技术和服务一线员工，重点发展公司客户所在地的技术服务型员工，实现技术服务一线员工的本地化；另一方面，建立共享社区，使客户成为业余员工。
                        </p>
                        <p class="detail" ui-type="text">
                            聚焦每一阶段的公司发展战略，配套稳健的外部融资和内部增资计划，将公司财力重点投向产品研发和与客户服务相关人员的待遇/培训上面，以实现不断增加的客户满意度和会员人数。
                        </p>
                    </div>
                </div>

            </div>

        </main>

        <%= require('html-loader!./layout/footer.html')  %>
            <%= require('html-loader!./layout/foot.html')  %>

</body>

</html>