<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./layout/head-common.html')  %>
        <title>以太生物 | eBio - 广州以太生物有限公司</title>
</head>

<body>
    <%= require('html-loader!./layout/nav.html')  %>

        <!-- banner -->
        <main>
            <section class="item-section section-introduce">
                <header></header>
            </section>
            <section class="section-main">
                <div class="main">

                </div>
            </section>
        </main>

        <%= require('html-loader!./layout/footer.html')  %>
            <%= require('html-loader!./layout/foot.html')  %>
</body>

</html>