<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./layout/head-common.html')  %>
        <title>以太生物 | eBio - 广州以太生物有限公司</title>
</head>

<body>
    <%= require('html-loader!./layout/nav.html')  %>
        <main>
            <section class="banner">
                <article>

                </article>
            </section>
            <section class="service-items">
                <div class="inner-center">
                    <article>
                        <div class="item">
                            <h2>文本服务</h2>

                        </div>
                        <div class="item">
                            <h2>数据服务</h2>
                        </div>
                    </article>
                </div>
            </section>
            <section class="customer-evaluation">
                <div class="inner-center">
                    <article>
                        <header>
                            <h2>客户心声摘录</h2>
                        </header>
                    </article>
                </div>
            </section>
        </main>

        <%= require('html-loader!./layout/footer.html')  %>
            <%= require('html-loader!./layout/foot.html')  %>
</body>

</html>