<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./layout/head-common.html')  %>
        <title>软件下载</title>
</head>

<body>
    <%= require('html-loader!./layout/nav.html')  %>
        <main>
            <section class="section-introduce">
                <div class="banner-wrap serive">
                    <h1 class="banner-title">时空全景化生化分子动力学网络仿真系统
                    </h1>
                    <h2 class="sub-title">Spatio-temporally Whole-scale Dynamic Networks of Biochemical Molecules
                    </h2>
                    <p class="banne-desc"> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                    <div class="download-btn">
                        <a href="" class="btn" id="ebDownload">免费下载</a>
                    </div>
                </div>
            </section>
            <div class="product-nav">
                <div class="nav-show-box inner-center">
                    <h3 class="nav-product-title">时空全景化生化分子动力学网络仿真系统
                    </h3>
                    <div class="download-btn">
                        <a href="" class="btn" id="ebDownload">免费下载</a>
                    </div>
                </div>
                <div class="module-nav" data-ui-component="sub-nav">
                    <a href="#summary" class="nav">产品概述</a>
                    <a href="#features" class="nav">产品功能</a>
                    <a href="#advantages" class="nav">产品优势</a>
                    <a href="#scenes" class="nav">使用场景</a>
                    <a href="#processes" class="nav">使用步骤</a>
                    <a href="#related" class="nav">相关产品</a>
                </div>
                <!-- underline -->
                <i class="underline"></i>
            </div>

            <!-- 产品概述 -->
            <div id="summary" class="zui-section inner-center section-summary">
                <div class="group inner-center">
                    <h2 class="title">产品概述</h2>
                    <div class="content">
                        <p class="text" ui-type="text">
                            本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征，更重要的是，它将在时间和空间上相距遥远的分子关联起来，从而构建了整个生命过程的闭环，实现了全域生命过程的研究和控制，从而能够为生命科学各领域的基础理论研究以及应用开发研究提供比较完善的虚拟仿真平台。
                        </p>
                        <img src="<%= require('../image/outline.png') %>" alt="" ui-type="diagram" class="diagram">
                    </div>
                </div>

            </div>
            <!-- 产品功能 -->
            <div id="features" class="zui-section inner-center section-features">
                <div class="group inner-center">
                    <h2 class="title">产品功能</h2>
                    <div class="content">
                        <div class="figure">
                            <img src="<%= require('../image/ico/ico-caiji.jpg') %>" alt="">
                            <div class="desc">
                                <h3>时空特征</h3>
                                <div class="content">
                                    <p>*时空全景式生化分子网络：不同于其他碎片化、局域性的分子网络</p>
                                    <p>*时空全景式生化分子网络：不同于其他碎片化、局域性的分子网络</p>
                                    <p>*时空全景式生化分子网络：不同于其他碎片化、局域性的分子网络</p>
                                    <p>*时空全景式生化分子网络：不同于其他碎片化、局域性的分子网络</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/ico-caiji.jpg') %>" alt="">
                            <div class="desc">
                                <h3>生命闭环</h3>
                                <div class="content">
                                    <p>*整个生命过程的闭环：不同于其他碎片化、局域性的分子网络</p>
                                    <p>*整个生命过程的闭环：不同于其他碎片化、局域性的分子网络</p>
                                    <p>*整个生命过程的闭环：不同于其他碎片化、局域性的分子网络</p>
                                    <p>*整个生命过程的闭环：不同于其他碎片化、局域性的分子网络</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 产品优势 -->
            <div id="advantages" class="zui-section inner-center section-advantages">
                <div class="group inner-center">
                    <h2 class="title">产品优势</h2>
                    <div class="content">
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 使用场景 -->
            <div id="scenes" class="zui-section inner-center section-scenes">
                <div class="group inner-center">
                    <h2 class="title">使用场景</h2>
                    <div class="content">
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>
                        <div class="figure">
                            <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            <div class="desc">
                                <h3>时空全景式生化</h3>
                                <div class="content">
                                    <p> 本系统为时空全景式生化分子网络，不同于其他碎片化、局域性的分子网络，能够提供接近真实的分子动态的时间和空间特征</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- 使用步骤 -->
            <div id="processes" class="zui-section inner-center section-processes">
                <div class="group inner-center">
                    <h2 class="title">
                        使用步骤
                    </h2>
                    <div class="content">
                        <div class="figures">
                            <div class="figure">
                                <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                                <h3>需求洽谈</h3>
                                <p>第一步</p>
                            </div>
                            <div class="figure">
                                <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                                <h3>需求洽谈</h3>
                                <p>第二步</p>
                            </div>
                            <div class="figure">
                                <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                                <h3>需求洽谈</h3>
                                <p>第三步</p>
                            </div>
                            <div class="figure">
                                <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                                <h3>需求洽谈</h3>
                                <p>第四步</p>
                            </div>
                        </div>
                        <div class="download-btn">
                            <a href="" class="btn" id="ebDownload">免费下载</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 相关产品 -->
            <div id="related" class="zui-section inner-center section-related">
                <div class="group inner-center">
                    <h2 class="title">相关产品</h2>
                    <div class="content">
                        <div class="figure">
                            <div class="ico">
                                <img src="<%= require('../image/ico/chart-timeline.png') %>" alt="">
                            </div>
                            <div class="desc">
                                <h3>文献文本挖掘与管理系统</h3>
                                <div class="content">
                                    本系统能够分专题“智能学习”各领域的文献列表，帮助研究人员梳理其研究领域的各个分支方向
                                </div>
                                <a href="#">详细</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </main>

        <%= require('html-loader!./layout/footer.html')  %>
            <%= require('html-loader!./layout/foot.html')  %>

</body>

</html>