<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html')  %>
</head>

<body>
  <%= require('html-loader!./layout/nav.html')  %>
  <main>
    <section class="section-introduce">
      <div class="banner-wrap serive">
        <h1 class="banner-title">以太生物：给客户带来价值
        </h1>

        <p class="banne-desc">为生命科学研究打造最好的数据挖掘基础设施，让研究工作变得更高效，更智能。
        </p>
      </div>
    </section>
    <section class="tabbar">
      <article>
        <ul class="tabs">
          <li class="tab-page">
            <a class="area-tabbar" href="./about_us.html?type=default">公司介绍</a>
          </li>
          <li class="tab-page">
            <a class="area-tabbar" href="./about_us.html?type=join-us">加入我们</a>
          </li>
          <li class="tab-page">
            <a class="area-tabbar" href="./about_us.html?type=contact-us">联系我们</a>
          </li>
          <li class="tab-page">
            <a class="area-tabbar" href="./about_us.html?type=news">公司动态</a>
          </li>
      </ul>
      </article>
    </section>

    <section class="tab-content">
      <!-- Start=公司简介 -->
      <div class="zui-section inner-center section-default">
        <div class="group inner-center">
          <h2 class="title">以太生物
            <em>|</em> eBio</h2>
          <div class="content">
            <p class="detail" ui-type="text">
              广州以太生物科技有限公司，为生命科学研究打造最好的数据挖掘基础为生命科学领域的基础及应用研究提供文献及生物信息技术服务， 包括实验数据处理及分析、文献梳理与管理、论文及标书写作有关 的顾问服务等。根据公司每一阶段的发展战略，积极引进/储备/培训各部门相关员工，特别是技术和服务一线员工，重点发展公司客户所在地的技术服务型员工，实现技术服务一线员工的本地化；另一方面，建立共享社区，使客户成为业余员工。
            </p>
            <p class="detail" ui-type="text">
              聚焦每一阶段的公司发展战略，配套稳健的外部融资和内部增资计划，将公司财力重点投向产品研发和与客户服务相关人员的待遇/培训上面，以实现不断增加的客户满意度和会员人数。
            </p>
          </div>
        </div>
      </div>
      <!-- End=公司简介 -->

      <!-- Start=加入我们 -->
      <div  class="zui-section inner-center section-join-us">
        <div class="group inner-center">
          <h2 class="title">现招职位
            <em>|</em> eBio</h2>
          <div class="content">
            <p class="detail" ui-type="text">
              市场岗位：xxxxx
            </p>
            <p class="detail" ui-type="text">
              研发岗位：xxxxx
            </p>
          </div>
        </div>
      </div>
      <!-- End=加入我们 -->
      
      <!-- Start=联系我们 -->
      <div class="zui-section inner-center section-contact-us">
        <div class="group inner-center">
          <h2 class="title">联系我们
            <em>|</em> eBio</h2>
          <div class="content">
            <div class="location-container">
              <ul class="location">
                <li class="location__item">
                  <i class="fa fa-building location__item-icon"></i>
                  <!-- <img src=".." alt=""> -->
                  <p>广州xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                </li>
                <li class="location__item">
                  <i class="fa fa-building location__item-icon"></i>
                  <img src=".." alt="">
                  <p>深圳xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                </li>
                <li class="location__item">
                  <i class="fa fa-building location__item-icon"></i>
                  <img src=".." alt="">
                  <p>北京xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                </li>
                <li class="location__item">
                  <i class="fa fa-building location__item-icon"></i>
                  <img src=".." alt="">
                  <p>上海xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                </li>
              </ul>
            </div>
            <div class="contact-container">
              <ul class="contact">
                <li class="contact__item clearfix">
                  <i class="fa fa-phone contact__item-icon fl"></i>
                  <p class="contact__item-detail fl">电话：123234234</p>
                </li>
                <li class="contact__item clearfix">
                  <i class="fa fa-envelope contact__item-icon fl"></i>
                  <p class="contact__item-detail fl">邮箱：1231@jlkj.com</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End=联系我们 -->

      <!-- Start=公司动态 -->
      <div class="zui-section inner-center section-news">
        <div class="group inner-center">
          <h2 class="title">公司动态
            <em>|</em> eBio</h2>
          <div class="content clearfix">
            <div class="post-container fl">
              <div class="post-container__nav clearfix"> 
                <ul class="breadcrumb fl">
                  <li class="breadcrumb-item">
                    <a href="###" class="breadcrumb-item__link">博客文章&nbsp;>以太生物小秘书</a>
                  </li>
                </ul>
                <p class="sort fr">
                  <span class="sort-date__asc link">升序<i class="fa fa-arrow-up"></i></span>
                  <span class="sort-date__desc link">降序<i  class="fa fa-arrow-down"></i></span>
                </p>
              </div>
             
              <div class="post-container__content">
                <ul class="posts">
                </ul>
                <ul class="post-pagination pagination"></ul>
              </div>
            </div>
            <div class="hots fr">
              <h3 class="hots-title">热门文章</h3>
              <ul class="hots-list">
                <li class="hots-item">
                  <a href="##" class="hots-item__link link">Playful Genius: Tribute Recalls Stephen Hawking's Lighter Side</a>
                </li>
                <li class="hots-item">
                  <a href="##" class="hots-item__link link">Playful Genius: Tribute Recalls Stephen Hawking's Lighter Side</a>
                </li>
                <li class="hots-item">
                  <a href="##" class="hots-item__link link">Playful Genius: Tribute Recalls Stephen Hawking's Lighter Side</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End=公司动态 -->
    </section>
  </main>

  <%= require('html-loader!./layout/footer.html')  %>
  <%= require('html-loader!./layout/foot.html')  %>
</body>

</html>