<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html')  %>
</head>

<body>
    <%= require('html-loader!./layout/nav.html')  %>
    <main>
      <section class="section-introduce">
        <div class="banner-wrap serive">
          <h1 class="banner-title">以太生物：招标悬赏
          </h1>
          <p class="banne-desc">竞标项目，获取积分，赶快参与进来吧。
          </p>
        </div>
      </section>
      <section class="section-bidding">
        <div>

        </div>
      </section>
    </main>

  <%= require('html-loader!./layout/footer.html')  %>
  <%= require('html-loader!./layout/foot.html')  %>

</body>

</html>