<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html')  %>
  <title>以太生物 | eBio - 广州以太生物有限公司</title>
</head>

<body>
  <%= require('html-loader!./layout/nav.html')  %>

    <main>
      <section class="banner">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#">
                <div class="banner-figcaption">
                  <h2 class="banner-title">搞掂你的论文写作</h2>
                  <p class="banner-desc">从选题到查重，帮你分分钟搞定论文</p>
                </div>
                <div class="banner-figure">
                  <img src="<%= require('../images/index/index_banner-1.jpg')  %>" alt="">
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#">
                <div class="banner-figcaption">
                  <h2 class="banner-title">搞掂你的科研基金申请</h2>
                  <p class="banner-desc">从选题到查重，帮你分分钟搞定论文</p>
                </div>
                <div class="banner-figure">
                  <img src="<%= require('../images/index/index_banner-2.jpg')  %>" alt="">
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#">
                <div class="banner-figcaption">
                  <h2 class="banner-title">文献文本挖掘与管理系统
                  </h2>
                  <p class="banner-desc">分专题“智能学习”各领域的文献列表</p>
                </div>
                <div class="banner-figure">
                  <img src="<%= require('../images/index/index_banner-3.jpg')  %>" alt="">
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="#">
                <div class="banner-figcaption">
                  <h2 class="banner-title">生化分子动力学网络仿真系统
                  </h2>
                  <p class="banner-desc">在时间和空间上相距遥远的分子关联起来
                </div>
                <div class="banner-figure">
                  <img src="<%= require('../images/index/index_banner-4.jpg')  %>" alt="">
                </div>
              </a>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div> -->
        </div>
      </section>
      <section class="service-items">
        <div class="inner-center">
          <div class="row">
            <ul class="media-container">
                <li class="media">
                    <div class="media-figure">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="media-figcation">
                        <h2 class="media-title">文本服务</h2>
                        <p class="media-desc">xxxxxx元，立等可取
                        </p>
                        <p>适用于赞赞赞赞赞赞赞赞赞赞赞赞</p>
                    </div>
                    <a href="./service_item.html" class="btn">立即上传</a>
                </li>
                <li class="media">
                    <div class="media-figure">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="media-figcation">
                        <h2 class="media-title">数据服务</h2>
                        <p class="media-desc">xxxxxx元，立等可取
                        </p>
                        <p>适用于赞赞赞赞赞赞赞赞赞赞赞赞</p>
                    </div>
                    <a href="./service_item.html" class="btn">立即上传</a>
                </li>

            </ul>
          </div>
          <div class="row">
            <ul class="card-list three-layout">
                <li class="card">
                    <div class="media-figure">
                        <i class="fa fa-folder-open"></i>
                    </div>
                    <div class="media-figcation">
                        <h2 class="media-title">文件信息分析提取</h2>
                        <!-- <p class="media-desc">中英0.25元/字，立等可取 -->
                        </p>
                        <p>对企业招投标文件、内部文档资料等长篇幅的文件进行分析，从大量的文本数据中提炼出有价值的信息</p>
                    </div>
                </li>
                <li class="card">
                    <div class="media-figure">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <div class="media-figcation">
                        <h2 class="media-title">文本润修</h2>
                        <p class="media-desc">公司将安排您所在领域的专家负责稿件编辑，提高您稿件的语言水平达到目标期刊要求。
                        </p>
                    </div>
                </li>
                <li class="card">
                    <div class="media-figure">
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="media-figcation">
                        <h2 class="media-title">公司产品介绍</h2>
                        <p class="media-desc">为生命科学各领域的基础理论研究以及应用开发研究提供比较完善的虚拟仿真平台
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="card-list three-layout">
                <li class="card">
                    <div class="media-figure">
                        <i class="fa fa-file-word-o"></i>
                    </div>
                    <div class="media-figcation">
                        <h2 class="media-title">论文标书</h2>
                        <p class="media-desc">公司将安排您所在领域的专家负责稿件编辑，提高您稿件的语言水平达到目标期刊要求。
                        </p>
                    </div>
                </li>
                <li class="card">
                    <div class="media-figure">
                        <i class="fa fa-braille"></i>
                    </div>
                    <div class="media-figcation">
                        <h2 class="media-title">数据挖掘</h2>
                        <p class="media-desc">实现微信公众号数据的定向抓取，包括公众号文章、阅读数、点赞数，并支持对文章进行分组、筛选、排序等多样操作管理
                        </p>
                    </div>
                </li>
                <li class="card">
                    <div class="media-figure">
                        <i class="fa fa-gears"></i>
                    </div>
                    <div class="media-figcation">
                        <h2 class="media-title">模型数据</h2>
                        <p class="media-desc">以太生物为你构建扎实的数据仓库，积累数据资产，并搭建多维数据分析模型，帮你实现数据驱动。
                        </p>
                    </div>
                </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="customer-evaluation">
        <div class="inner-center">
          <article>
            <header class="client-header">
              <h2 class="client-title">客户心声摘录</h2>
              <p class="client-sub-title">累计服务客户超过50万，用户满意度高达99%</p>
              <div class="client-tags-con">
                <ul class="tag-list">
                  <li>挺专业的</li>
                  <li>超快</li>
                  <li>有保障</li>
                  <li>朋友推荐的</li>
                  <li>信赖有道</li>
                  <li>客户声音好听</li>
                </ul>
              </div>
            </header>
            <div class="client-thinking-list">
              <div class="row">
                <div class="thinking-item">
                  <p class="thinking"> 文章经以太生物润色后已经在SCI刊物发表，并将以太生物网站推荐给同事，今后有需要还找以太生物网站！</p>
                  <div class="client-info-con">
                    <div class="client-profile">
                      <img src="<%= require('../images/index/avatar.png') %>" alt="">
                    </div>
                    <div class="client-info">
                      <p class="client-name">朱小姐/科研工作者</p>
                      <p class="order-info">2760字，发表级别，论文，2天交稿</p>
                    </div>
                  </div>
                </div>
                <div class="thinking-item">
                  <p class="thinking"> 文章经以太生物润色后已经在SCI刊物发表，并将以太生物网站推荐给同事，今后有需要还找以太生物网站！</p>
                  <div class="client-info-con">
                    <div class="client-profile">
                      <img src="<%= require('../images/index/avatar.png') %>" alt="">
                    </div>
                    <div class="client-info">
                      <p class="client-name">朱小姐/科研工作者</p>
                      <p class="order-info">2760字，发表级别，论文，2天交稿</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="thinking-item">
                  <p class="thinking"> 文章经以太生物润色后已经在SCI刊物发表，并将以太生物网站推荐给同事，今后有需要还找以太生物网站！</p>
                  <div class="client-info-con">
                    <div class="client-profile">
                      <img src="<%= require('../images/index/avatar.png') %>" alt="">
                    </div>
                    <div class="client-info">
                      <p class="client-name">朱小姐/科研工作者</p>
                      <p class="order-info">2760字，发表级别，论文，2天交稿</p>
                    </div>
                  </div>
                </div>
                <div class="thinking-item">
                    <p class="thinking"> 文章经以太生物润色后已经在SCI刊物发表，并将以太生物网站推荐给同事，今后有需要还找以太生物网站！</p>
                    <div class="client-info-con">
                      <div class="client-profile">
                        <img src="<%= require('../images/index/avatar.png') %>" alt="">
                      </div>
                      <div class="client-info">
                        <p class="client-name">朱小姐/科研工作者</p>
                        <p class="order-info">2760字，发表级别，论文，2天交稿</p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="thinking-item">
                  <p class="thinking"> 文章经以太生物润色后已经在SCI刊物发表，并将以太生物网站推荐给同事，今后有需要还找以太生物网站！</p>
                  <div class="client-info-con">
                    <div class="client-profile">
                      <img src="<%= require('../images/index/avatar.png') %>" alt="">
                    </div>
                    <div class="client-info">
                      <p class="client-name">朱小姐/科研工作者</p>
                      <p class="order-info">2760字，发表级别，论文，2天交稿</p>
                    </div>
                  </div>
                </div>
                <div class="thinking-item">
                  <p class="thinking"> 文章经以太生物润色后已经在SCI刊物发表，并将以太生物网站推荐给同事，今后有需要还找以太生物网站！</p>
                  <div class="client-info-con">
                    <div class="client-profile">
                      <img src="<%= require('../images/index/avatar.png') %>" alt="">
                    </div>
                    <div class="client-info">
                      <p class="client-name">朱小姐/科研工作者</p>
                      <p class="order-info">2760字，发表级别，论文，2天交稿</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>

  <%= require('html-loader!./layout/footer.html')  %>
  <%= require('html-loader!./layout/foot.html')  %>

</body>

</html>