<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html')  %>
</head>

<body>
  <%= require('html-loader!./layout/nav.html')  %>

  <main class="page-content">
    <section class="section-introduce">
      <div class="banner">
        <h1 class="banner__title">项目展示
        </h1>
        <p class="banner__desc">总有一款服务项目适合你
            <br>这里将是每一个服务项目的细节展示</p>
      </div>
    </section>
    <section class="section-project inner-center">
      <div class="section-project__header">
        <h2 class="section-project__title">数据文本服务</h2>
      </div>
      <div class="section-project__content">
        <div class="project-wrap">
          <div class="project clearfix">
            <div class="project__text left-part">
              <h3 class="project__title">数值数据</h3>
              <ul class="project__desc-list">
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
              </ul>
            </div>
            <div class="project__image right-part">
              <img src="<%= require('../images/service-show/theme.png')  %>" alt="">
            </div>
          </div>
        </div>
        <div class="project-wrap">
          <div class="project clearfix">
            <div class="project__text right-part">
              <h3 class="project__title">序列数据</h3>
              <ul class="project__desc-list">
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
              </ul>
            </div>
            <div class="project__image left-part">
              <img src="<%= require('../images/service-show/datacollecting.png')  %>" alt="">
            </div>
          </div>
        </div>
        <div class="project-wrap">
          <div class="project clearfix">
            <div class="project__text left-part">
              <h3 class="project__title">表达数据</h3>
              <ul class="project__desc-list">
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
              </ul>
            </div>
            <div class="project__image right-part">
              <img src="<%= require('../images/service-show/slider-multicontenu.png')  %>" alt="">
            </div>
          </div>
        </div>
        <div class="project-wrap">
          <div class="project clearfix">
            <div class="project__text right-part">
              <h3 class="project__title">结构数据</h3>
              <ul class="project__desc-list">
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
                <li class="project_desc-item">
                  <i class="icon--check fa fa-check-square"></i>评价内容分类
                </li>
              </ul>
            </div>
            <div class="project__image left-part">
              <img src="<%= require('../images/service-show/theme.png')  %>" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%= require('html-loader!./layout/footer.html')  %>
  <%= require('html-loader!./layout/foot.html')  %>
</body>

</html>