<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html')  %>
</head>

<body>
  <%= require('html-loader!./layout/nav.html')  %>

  <section class="section-banner">
    <h1 class="section-banner__title">专业论文</h1>
    <p class="section-banner__desc">针对中国科研工作者论文发表，学术交流需求，推出专业的学术<br>服务，适用于论文期刊投稿、发表等重要场合。</p>
    <a href="./service_item.html" class="btn section-banner__btn">立即下单</a>
  </section>
  <main>
    <div class="page-wrap inner-center">
      <!-- Start=优势 -->
      <section class="section-advantage">
        
      </section>
      <!-- End=优势 -->

      <!-- Start=建议 -->
      <section class="section-recommedation"></section>
      <!-- End=建议 -->
      
      <!-- Start=客户心声 -->
      <section class="section-client"></section>
      <!-- End=客户心声 -->      
    </div>
  </main>

  <%= require('html-loader!./layout/footer.html')  %>
  <%= require('html-loader!./layout/foot.html')  %>

</body>

</html>