<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html')  %>
</head>

<body>
  <%= require('html-loader!./layout/nav.html')  %>

  <main>
    <section class="section-introduce">
      <div class="banner-wrap serive">
        <h1 class="banner-title">以太生物：服务展示
        </h1>
        <p class="banne-desc">
        </p>
      </div>
    </section>
    <section class="section-process">
      <h2 class="section-process__title">流程展示</h2>
      <div>

      </div>
    </section>
  </main>

  <%= require('html-loader!./layout/footer.html')  %>
  <%= require('html-loader!./layout/foot.html')  %>

</body>

</html>