<header class="common-header">
  <nav class="nav-wrap">
    <div class="nav clearfix inner-center">
      <div class="nav-logo">
        <a href="index.html">
          <img src="../../images/site-logo.png" alt="">
        </a>
      </div>
      <ul class="nav-menu-list clearfix">
        <li class="menu-item">
          <a href="index.html" class="link">首页</a>
        </li>

        <li class="menu-item">
          <a href="./service_item.html">服务项目
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
          <ul class="sub-nav-list service-nav">
            <li class="sub-nav-item">
              <a href="text_service.html">文本服务</a>
            </li>
            <li class="sub-nav-item">
              <a href="data_)service.html">数据服务</a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="javascript:void(0)">服务展示
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
          <ul class="sub-nav-list service-nav">
            <li class="sub-nav-item">
              <a href="./process_show.html">流程展示</a>
            </li>
            <li class="sub-nav-item">
              <a href="./project_show.html">项目展示</a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
          <a href="bidding_reward.html">招标悬赏</a>
        </li>

        <li class="menu-item">
          <a href="product.html">软件下载</a>
        </li>

        <li class="menu-item">
          <a href="JavaScript:void 0">关于我们
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
          <ul class="sub-nav-list">
            <li class="sub-nav-item">
              <a href="./about_us.html">公司简介</a>
            </li>
            <li class="sub-nav-item">
              <a href="./company_news.html">公司动态</a>
            </li>
            <li class="sub-nav-item">
              <a href="./join_us.html">加入我们</a>
            </li>
            <li class="sub-nav-item">
              <a href="./contact_us.html">联系我们</a>
            </li>
          </ul>
        </li>

      </ul>
      <div class="nav-opera">
        <a id="login-popBtn" class="nav-opera-item">登录</a>
        <a href="user_register.html" class="nav-opera-item">注册</a>
      </div>
    </div>
  </nav>
</header>