<footer class="common-footer">
    <section class="inner-center clearfix">
        <nav class="footer-nav">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h3 class="item-title">以太生物</h3>
                    <ul class="item-list">
                        <li></li>
                    </ul>
                </li>

                <li class="footer-nav-item">
                    <h3 class="item-title">服务项目</h3>
                    <ul class="item-list">
                        <li>
                            <a href="#">数据服务</a>
                        </li>
                        <li>
                            <a href="#">文本服务</a>
                        </li>

                    </ul>
                </li>
                <li class="footer-nav-item">
                    <h3 class="item-title">服务展示</h3>
                    <ul class="item-list">
                        <li>
                            <a href="#">流程展示</a>
                        </li>
                        <li>
                            <a href="#">项目展示</a>
                        </li>

                    </ul>
                </li>
                <li class="footer-nav-item">
                    <h3 class="item-title">招标悬赏</h3>

                </li>
                <li class="footer-nav-item">
                    <h3 class="item-title">关于我们</h3>
                    <ul class="item-list">
                        <li>
                            <a href="#">公司简介</a>
                        </li>
                        <li>
                            <a href="#">公司新闻</a>
                        </li>
                        <li>
                            <a href="#">联系我们</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <div class="footer-other">
            <a href="index.html">
                <img src="../../image/site-logo.png" alt="">
            </a>
            <div class="contact">
                <p>Tel: 400-500-5214</p>
                <p>E-mail: contact@eBio.cn</p>
            </div>
            <p class="official-account">
                <img class="QRcode" src="../../image/QRcode.png" alt="">
            </p>
            <p>关注公众号</p>
            <p class="copyright">©2017以太生物科技440126000914198</p>
        </div>
    </section>
</footer>
<!-- passport-login-pop -->
<div class="modal-login" id="passport-login-pop">
    <div class="modal-login__dialog">
        <div class="modal-login__content">
            <div class="modal-login__header modal-dragable">
                <button id="js-closebtn" type="button" class="modal-login__closebtn" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-login__title">登录以太网账户</h4>
            </div>
            <div class="modal-login__body clearfix">
                <div class="modal-login__img">
                    <img src="../../image/QRcode.png" alt="">
                </div>
                <div class="modal-login__form">
                    <div class="pass-method">
                        <form class="pass-form" action="" autocomplete="off">
                            <p class="pass-form__errorWrapper">
                                <span class="pass-form__error"></span>
                            </p>
                            <p class="pass-form__smsWrapper">
                                <a href="###" class="pass-form__smsBtn">短信快捷登录</a>
                            </p>
                            <p class="pass-form__item pass-form__item-username">
                                <label for="" class="pass-form__label">
                                    <i class="fa fa-user-o"></i>
                                </label>
                                <input type="text" class="pass-form__inpt" placeholder="手机/邮箱/用户名" autocomplete="new-password">
                            </p>
                            <p class="pass-form__item pass-form__item-pwd">
                                <label for="" class="pass-form__label">
                                    <i class="fa fa-user-o"></i>
                                </label>
                                <input type="password" class="pass-form__inpt" placeholder="密码" autocomplete="new-password">
                            </p>
                            <p class="pass-form__item pass-form__item-remember">
                                <input type="checkbox" class="pass-form__remember" checked>
                                <label for="" class="">下次自动登录</label>
                            </p>
                            <p class="pass-form__item pass-form__item-submit">
                                <input type="submit" class="pass-form__inpt pass-form__submit" value="登录">
                                <a href="./user-register.html" class="pass-form__reglink">立即注册</a>
                                <a href="###" class="pass-form__fgtpwd">登录遇到问题</a>
                            </p>
                        </form>
                    </div>
                    <div class="pass-method pass-method-sms"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js">
</script>