/*
 * @Author: jecyu 
 * @Date: 2018-01-22 22:49:13 
 * @Last Modified by: jecyu
 * @Last Modified time: 2018-01-24 23:05:11
 */

$basecolor: #172a88;
$item1: #8fc320;
$item2: #20c544;
$item3: #203ec5;
$item4: #20c5a7;
$item5: #2091c5;
$item6: #3ec520;
$fontColor: #5f5f5f;
$error: #da1111;
@mixin setColorAndHover($baseColor) {
    // color: $baseColor;
    &:hover {
        background: lighten($baseColor, 40%);
    }
}

@mixin setShadow {
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
}

.mod-nav {
    position: relative;
    z-index: 1;

    height: 4.2rem;
    background: lighten($color: $fontColor, $amount: 60);
    box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);

    .mod-nav__title {
        height: 4rem;
        width: 120rem;
        padding-left: 7rem;
        margin-left: auto;
        margin-right: auto;

        line-height: 4rem;
        font-size: 1.4rem;
        font-weight: 700;
        color: darken($item4, 40);
    }
}

.mod-body {
    .mod-forgot__nav {
        margin: 3rem 0 0rem 7rem;

        font-size: 1.6rem;
        line-height: 3.2rem;
        color: $fontColor;

        .mod-forgot__item {
            position: relative;
            float: left;
            width: 24rem;
            background: lighten($color: $fontColor, $amount: 55);

            // is-actived
            &--is-actived {
                color: #fff;
                background: rgba($color:$item4, $alpha: 0.5);

                .mod-forgot__order {
                    background: rgba($color:$item4, $alpha: 0.8);
                }

                &::after {
                    border-left: 2rem solid #8ee1d3 !important;
                }
            }

            // arrow
            &:not(:last-child) {
                &::before {
                    content: "";
                    position: absolute;
                    right: -2.2rem;
                    top: 0;
                    z-index: 3;
                    height: 0;
                    width: 0;
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent;
                    border-left: 2rem solid rgb(243, 243, 243);
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: -2rem;
                    top: 0;
                    z-index: 4;
                    width: 0;
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent;
                    border-left: 2rem solid
                        lighten($color: $fontColor, $amount: 55);
                }
            }
        }
    }

    .mod-item__title {
        width: 100%;
        padding: 0.4rem 0 0.4rem 6rem;

        .mod-forgot__order {
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.5rem;
            border-radius: 50%;

            line-height: 2.4rem;
            text-align: center;
            color: #fff;
            background: lighten($color: $fontColor, $amount: 40);
        }
    }
}

// forgot-step detail
.mod-forgot__step {
    margin-left: 7rem;
    margin-bottom: 10rem;

    a {
        color: $item4;
    }

    .mod-form__item {
        // margin-bottom: 2rem;

        .mod-forgot__input {
            display: block;
            float: left;
            position: relative;

            width: 32.8rem;
            min-height: 1.6rem;
            padding: 1rem;
            margin-right: 1rem;
            border: 0.1rem solid #ddd;

            font-size: 1.4rem;
            transition: 0.3s;
            color: $fontColor;
            background: #fff;
            outline: 0;
            resize: none;

            &--is-error {
                border: 0.1rem solid $error;
            }

            // vscode
            &-vscode {
                width: 17.8rem;
            }
        }

        .mod-forgot__tip {
            float: left;
            margin-left: 1rem;

            font-size: 1.2rem;
            line-height: 4rem;
            color: $error;
        }

        .mod-forgot__img-vscode {
            float: left;
            width: 10rem;
            height: 4rem;
            margin-left: 1rem;
            border: 0.1rem solid #ddd;
        }

        .mod-forgot__img-change {
            float: left;
            display: block;
            padding-left: 1rem;
            padding-top: 0.8rem;
        }

        .mod-forgot__btn-submit {
            display: block;

            height: 4rem;
            // width: 3.5rem;
            border: 0;
            border-radius: 0.3rem;

            color: #fff;
            background: $item4;
            font-weight: 700;
            text-align: center;
            cursor: pointer;
            background-image: none;
        }
    }
}
