/**
 * @Author: Jecyu
 * @Date: 2017-10-23 6:21:36 pm 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-10-27 5:18:46 pm 
 */

@import "utilities/_variable.scss";

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    font: 1.4rem/1.5 arial Microsoft Yahei sans-serif;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}

ul,
ol,
li {
    list-style: none;
}

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
thead,
tbody,
tfoot,
input,
button,
select,
textarea,
optgroup,
article,
aside,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

img {
    display: block;
    border: none;
}

a {
    text-decoration: none;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
    /* 1 */
    display: block;
}

/* 
 * Add the correct margin in IE 8.
 */

figure {
    margin: 1em 40px;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+ 
 */

a {
    /* 1 */
    background-color: transparent;
    /* 2 */
    -webkit-text-decoration-skip: objects;
}

.inner-center {
    margin-left: auto;
    margin-right: auto;
    width: 120rem;
}

@media screen and (max-width: 1000px) {
    .inner-center {
        width: 100rem;
        padding: 0 5rem;
    }
}

.clearfix::after {
    content: ".";
    display: table;

    height: 0;
    clear: both;
    visibility: hidden;
}
