@import "../common/utilities/_mixin";

$basecolor: #172a88;
$item1: #8fc320;
$item2: #20c544;
$item3: #203ec5;
$item4: #20c5a7;
$item5: #2091c5;
$item6: #3ec520;
$fontColor: #5f5f5f;
@mixin setColorAndHover($baseColor) {
    // color: $baseColor;
    &:hover {
        background: lighten($baseColor, 40%);
    }
}

@mixin setShadow {
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
}

// section-introduce
.banner {
    height: 40rem;
}
